extends layout 
 
block content 
  h1= title 
  - let items = results; 
  button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/create\")` ) Create 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/pen/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.Brand}(#{item.price}) is #{item.color} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/detail?id=${item._id}\")` ) Details 
          button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/delete?id=${item._id}\")` ) Delete 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 