extends layout 
 
block content 
  h1= title 
 
  - let penid = toShow._id
  - let pen_type = toShow.pen_type
  - let pencost = toShow.cost
  - let pensize = toShow.size 
  div 
    div.row 
      div(class='costumeAttr mr-3') Pen ID is: 
      div #{penid} 
    div.row 
      div(class='costumeAttr mr-3') Pen Type is: 
      div #{pen_type} 
    div.row 
      div(class='costumeAttr mr-3') Pen Size is: 
      div #{pencost} 
    div.row 
      div(class='costumeAttr mr-3') Pen Cost is: 
      div #{pensize} 