extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let penid = toShow._id
    - let penBrand = toShow.Brand
    - let penprice = toShow.price
    - let pencolor = toShow.color
    - let actionid = "/resource/pen/" + penid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='penAttr mr-3') pen ID is:
        div #{penid}
      div.row
        div(class='penAttr mr-3') pen Brand is:
        div #{penBrand}
      div.row
        div(class='penAttr mr-3') pen price is:
        div #{penprice}
      div.row
        div(class='penAttr mr-3') pen color is:
        div #{pencolor}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the pen collection
      window.location.href='/pen'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/pen'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }